<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="luceneIndexingTask" class="com.javachen.tasks.LuceneIndexingTask" />

	<bean id="luceneIndexingJob"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="luceneIndexingTask" />
		<property name="targetMethod" value="updateIndexes" />
	</bean>

	<bean id="luceneIndexingCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="luceneIndexingJob" />
		<property name="cronExpression" value="* * */2 * * ?" />
	</bean>

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="jobDetails">
			<list>
				<ref bean="luceneIndexingJob" />
			</list>
		</property>

		<property name="triggers">
			<list>
				<ref bean="luceneIndexingCronTrigger" />
			</list>
		</property>
	</bean>

</beans>
